{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block content %}

    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.desc }}</p>
        {% if post.pon_img %}
            <img src="{{ post.pon_img.url }}" alt="...">
        {% endif %}
    {% endfor %}
    
    
    {% if user.is_authenticated %}
        Logged in as {{ user.username }}
        <br>
        <form action="{% url 'logoutuser' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'signupuser' %}">signup</a>
        <a href="{% url 'loginuser' %}">login</a>
    {% endif %}

{% endblock %}