{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block content %}

    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <h3>user - {{ post.user }}</h3>
        <p>{{ post.desc }}</p>
        {% if post.pon_img %}
            <img src="{{ post.pon_img.url }}" alt="..."width="100px" height="100px">
        {% endif %}
        <br>
        <br>
    {% endfor %}
    
    
    {% if user.is_authenticated %}
        <form action="{% url 'logoutuser' %}" method="post">
            <h2>Logged in as {{ user.username }}</h2>
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <a href="{% url 'createpons' %}">create</a>
    {% else %}
        <a href="{% url 'signupuser' %}">signup</a>
        <a href="{% url 'loginuser' %}">login</a>
    {% endif %}
    <a href="{% url 'mypons' %}">my pons</a>

{% endblock %}